*{
  margin: 0;
}
header{
  background-color: lightblue;
  height: 3em;
}
html,body{
  height: 100%;
}
a{
  text-decoration: none;
}

.Wrapper{
    min-height: 100%;
    height: auto;
    height: 100%;
    margin-bottom: -50px; /*footer's height*/
    background-color: lightgrey;
  }
.Favorites{
  height: calc(100% - 3em - 50px);
  overflow: auto;
}
.FavoritesWrapper{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-right: 17px;
  margin-bottom: -50px; /*footer's height*/
}
.Favorite{
  height: 10em;
  margin: 10px;
  background-color: yellow;
  border-radius: 2em;
  overflow: hidden;
}
footer,#push{
  height: 50px;
}
footer{
  background-color: rgb(200, 255, 200);
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
