*{
  margin: 0;
}
html,body{
  height: 100%;
}
.Wrapper{
    min-height: 100%;
    height: auto;
    height: 100%;
    margin-bottom: -50px; /*footer's height*/
}
footer,#push{
  height: 50px;
}


footer{
  background-color: rgb(200, 255, 200);
}
